src/main/app/examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
   
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/> 
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    
    <flow name="publishingSoapService">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
<!--         <cxf:jaxws-service   doc:name="CXF"/> -->
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	response: "success"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
    <flow name="IterateOver3Loops">
        <dw:transform-message doc:name="DW logic over multiple loops">
            <dw:input-payload doc:sample="sample_data/LoopsIterateInput.json"/>
            <dw:set-payload resource="classpath:iterateOverLoopsDwFile.dwl"/>
        </dw:transform-message>
    </flow>
    
    <flow name="examplesFlow">
        <dw:transform-message doc:name="Transform Message">
        	<dw:input-payload doc:sample="sample_data/LoopsIterateInput.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var noOfEligibleSubscribers = (sizeOf payload.cmeResponse.eligibilityList.eligibilityInfo) -1 default 0
---
flatten payload.cmeResponse.eligibilityList.eligibilityInfo..macInfo groupBy $.mac map {
	mac: $.mac[0],
	isExisting: true when $.macSeqNumber != null otherwise false,
	duration: $.duration[0],
	currentDiscount: ((sizeOf $.macSeqNumber default 0) * $.amount[0]),
	availableDiscount: ((sizeOf $.mac) - (sizeOf $.macSeqNumber default 0)) * $.amount[0] when (sizeOf ($.eligibilityCode filter $ != 'P')) > (min [noOfEligibleSubscribers, ($.maxLineLimit[0] default 0)])
						otherwise ((sizeOf ($.eligibilityCode filter $ != 'P')) - (sizeOf $.macSeqNumber default 0)) * $.amount[0] + ((min [noOfEligibleSubscribers, ($.maxLineLimit[0] default 0)]) - (sizeOf ($.eligibilityCode filter $ != 'P'))) * $.amount[0],
	batchProcessInd: false
} default [({batchProcessInd: true}) when payload.cmeResponse.eligibilityList.eligibilityInfo[0].batchProcessInd != null and payload.cmeResponse.eligibilityList.eligibilityInfo[0].batchProcessInd as :boolean]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    
</mule>
